body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
}

/* Global*/
.container{
    width: 100%;
    margin:auto;
    overflow: hidden;
}

header ul{
    margin: 0;
    padding: 0;
}

/* header */
header{
    color: white;
    background: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: lowercase; 
    font-size: 20px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 20px;
}

a:hover{
    color: black;
} 

header .highlight, header .current a{
    color: white;
}

/* Showcase */
#showcase{
    min-height: 347px;
    background: url('../img/pigif.gif') ;
    color: grey;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}